name: test

on:
  schedule:
    - cron: '0 0 * * *' #UTC
  push:
    branches:
      - 'main'

jobs:
  npm:
    uses: kawax/npm-workflow/.github/workflows/update.yml@main
    secrets:
      token: ${{ secrets.ACTION_TOKEN }}
    with:
      git-name: kawax
      git-email: 1502086+kawax@users.noreply.github.com
      npm-path: ./npm
