name: npm update

on:
  workflow_call:
    inputs:
      node:
        default: 'latest'
        required: false
        type: string
      npm-path:
        default: './'
        required: false
        type: string
      git-name:
        default: 'github-actions[bot]'
        required: false
        type: string
      git-email:
        default: '41898282+github-actions[bot]@users.noreply.github.com'
        required: false
        type: string
      branch:
        default: 'npm-update'
        required: false
        type: string
      title:
        default: 'npm update'
        required: false
        type: string
      commit-message:
        default: 'npm update'
        required: false
        type: string
    secrets:
      token:
        required: true

jobs:
  npm_update_job:
    name: npm update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3 #https://github.com/actions/setup-node
        with:
          node-version: ${{ inputs.node }}
      - name: npm ci
        working-directory: ${{ inputs.npm-path }}
        run: npm ci
      - name: npm outdated
        id: outdated
        uses: actions/github-script@v6 #https://github.com/actions/github-script
        with:
          script: |
            const result = await exec.getExecOutput('npm', ['outdated', '--prefix', '${{ inputs.npm-path }}'], {
              ignoreReturnCode: true,
            })
            const outdated = result.stdout + result.stderr
            core.setOutput('outdated', outdated)
      - name: npm update
        id: update
        uses: actions/github-script@v6 #https://github.com/actions/github-script
        with:
          script: |
            const result = await exec.getExecOutput('npm', ['update', '--prefix', '${{ inputs.npm-path }}', '--ignore-scripts', '--no-fund'], {
              ignoreReturnCode: true,
            })
            const update = result.stdout + result.stderr
            core.setOutput('update', update)
      - name: npm output
        run: |
          echo "${{ steps.outdated.outputs.outdated }}"
          echo "${{ steps.update.outputs.update }}"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4 #https://github.com/peter-evans/create-pull-request
        with:
          token: ${{ secrets.token }}
          branch: ${{ inputs.branch }}
          commit-message: ${{ inputs.commit-message }}
          committer: ${{ inputs.git-name }} <${{ inputs.git-email }}>
          author: ${{ inputs.git-name }} <${{ inputs.git-email }}>
          title: ${{ inputs.title }}
          body: ${{ steps.outdated.outputs.outdated }} ${{ steps.update.outputs.update }}
          add-paths: |
            *-lock.json
